body {
    padding-bottom: 2em;
    background: #e8e8e8;
}

.header {
    background: #e8e8e8;
    color: #404040;
    border-bottom: 2px solid transparent;
    min-width: 100%;
    padding: 1em 3em;
    position: sticky;
    top: 0;
    transition: .3s;
}

.small-header {
    left: 0;
    border-bottom: 2px solid #404040;
    padding-bottom: 0;
    padding-top: 0;
}

.small-header .display-4 {
    font-size: 2em;
}

.small-header h6 {
    font-size: .8em;
}

.btn-danger {
    display: block;
    margin: auto;
}
.row-number {
    display: inline-block;
    margin-right: 1em;
    font-feature-settings: 'tnum';
}

table {
    border: none;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1em;
    overflow-x: auto;
    table-layout: auto;
}

tbody {
    background: white;
}

th, td {
    border-style: solid;
    border-color:#dadada;
    border-width: 1px .5px;
    padding: .5em;
    min-width: 10em;
    white-space: pre-line;
}

th:focus, td:focus {
    outline-color: #49adff;
}

th {
    border: none;
    text-align: center;
}

thead {
    border-bottom: 3px solid #dadada;
}

thead tr:last-of-type {
    background: white;
}

thead tr:last-of-type th {
    padding: 1em;
}

tr td:last-of-type, tr td:nth-last-child(2), tr:not(:first-of-type) th:last-of-type, tr:first-of-type th { 
    border: none;
}

tr td:nth-last-child(2) {
    min-width: 0;
}

tr td:last-of-type {
    cursor: grab;
    text-align: center;
}

tr td:last-of-type:hover {
    color: #808080;
}

.highlight-row {
    opacity: .5;
    cursor: grabbing;
}

.highlight-row td:last-of-type {
    cursor: grabbing;
}

.bottom-row-insert {
    border-bottom: 3px solid #808080;
}

.black-bod {
    background: #202020;
    margin: 1em 3em;
    overflow: auto;
}

.black-bod pre, .black-bod code {
    overflow: visible;
}

#code-display {
    color: #dadada;
    font-family: 'Roboto Mono', monospace;
}

form {
    margin: 1em 2em;
}

button[type="submit"] {
    display: block;
    margin: 1em auto;
}

.find-bar {
    position: fixed;
    top: 1em;
    right: 5%;
    padding: .5em;
    width: 20em;
    background: white;
    display: grid;
    grid-template-columns: 50% 25% calc(25%/3) calc(25%/3) calc(25%/3);
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    box-shadow: 5px 5px 25px -4px rgba(0,0,0,0.68);
    transition: .2s ease-in-out;
}

.find-bar input {
    border: none;
}

.find-bar input:focus {
    outline: none;
}

.find-bar div {
    font-size: .8em;
    padding-right: .5em;
    border-right: 1px solid #c0c0c0;
    color: #404040;
    font-variant-numeric: tabular-nums;
    text-align: right;
}

.find-bar button {
    color: #404040;
    border: none;
    background: transparent;
    font-weight: bold;
}

.find-bar.hidden {
    top: calc(-100% - 2em)
}

mark {
    background: yellow;
    padding: 0;
}

mark.selected-mark {
    background: orange;
}