.btn-danger {
    display: block;
    margin: auto;
}
.row-number {
    display: inline-block;
    margin-right: 1em;
    font-feature-settings: 'tnum';
}

table {
    border: none;
}

tr td:last-of-type, tr td:nth-last-child(2), tr:not(:first-of-type) th:last-of-type, tr:first-of-type th { 
    border: none;
}

tr td:last-of-type {
    cursor: pointer;
}

tr td:last-of-type:hover {
    color: #808080;
}

.highlight-row {
    opacity: .5;
    cursor: grabbing;
}

.bottom-row-insert {
    border-bottom: 3px solid #808080;
}

.black-bod {
    background: #202020;
    margin: 1em 3em;
    overflow: auto;
}

.black-bod pre, .black-bod code {
    overflow: visible;
}

#code-display {
    color: #dadada;
    font-family: 'Roboto Mono', monospace;
}